@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: url('/PROJECT/images/shop.jpg') no-repeat;
    background-size: cover;
    background-color: black;
}
.wrapper{
    width: 420px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
}
.wrapper h2{
    text-align: center;
}
.wrapper .content{
    text-align: center;
}
.wrapper .form-group{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: pink; */
    margin:20px 0;
}
.form-group input{
    width: 100%;
    height: 90%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 15px;
    padding: 20px 45px 20px 20px;
}
/* .form-group input::placeholder{
    color:gray;
} */
.form-group i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper .btn{
    width:100%;
    height: 50px;
    background:transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(20, 81, 193);
    color: white;
}
.wrapper .footer{
    /* font-size: 10px; */
    text-align: center;
    margin: 20px 30px 15px 10px;

}
/* .footer p a{
    font-weight: 900px;
} */